/* Estilos básicos */
body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 2;
}

/* Estilo para o cabeçalho */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Logo */
.logo-text {
    font-size: 24px;
    color: #000;
    text-decoration: underline
}

.highlight {
    color: red;
    text-decoration: underline;
}

/* Barra de pesquisa */
.search-bar {
    flex: 1;
    margin: 0 20px;
    max-width: 200px;
}

.search-bar input {
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Menu de navegação */
nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: normal;
}

nav ul li a:hover {
    color: #007bff;
}
