* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #333;
    text-align: center;
    font-weight: normal;
}

header {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    font-weight: normal;
}

.logo {
    font-size: 24px;
}

.logo a {
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
}

.logo .red {
    color: #C8102F;
}

.logo .logo-neuro {
    color: black;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

nav a:hover {
    color: #C8102F;
}

.main-logo {
    margin-top: 16px;
    max-width: 500px;
    width: 100%
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

.logo-title {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 8px;
    font-weight: normal;
}

.logo-title .black {
    color: black;
}

.logo-title .red {
    color: #C8102F;
}

.subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 24px; /* Ajuste o tamanho conforme necessário */
    font-weight: normal;
    text-align: center;
    margin-top: 10px;
    color: #333; /* Ou ajuste a cor conforme desejado */
    letter-spacing: 2px; /* Ajuste o espaçamento entre letras conforme desejado */
    font-weight: normal;
}

.faixa-preta {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

.faixa-titulo {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

}

.faixa-texto {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: white;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
}

footer {
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    padding: 10px;
    background-color: #f7f7f7;
    border-top: 1px solid #ddd;
    font-size: 12px;
    color: #555;
    font-weight: normal;
}


